asgiref
distlib
Django
django-cors-headers
django-environ
djangorestframework
djangorestframework-simplejwt
djongo==1.3.6
dnspython
filelock
geographiclib
geopy
platformdirs
PyJWT
pymongo==3.12.1
pypng
pytz
qrcode
sqlparse
typing_extensions
virtualenv
