body {
    font-family: Arial, sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 20px;
}

.profile {
    background-color: #ffffff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin-left: 50px;
    margin-right: 50px;
}

.profile-head {
    text-align: center;
    margin-bottom: 20px;
}

.profile-title {
    font-size: 20px;
    line-height: 16px;
    color: black;
    margin: 0;
}

.profile-subtitle {
    font-size: 36px;
    color: black;
    /* margin-bottom: 50px; */
    line-height: 40px;
    margin: 0;
}

.profile-container {
    padding: 10px;
    margin-left: 300px;
    margin-right: 300px;
}

.profile-about-title {
    font-size: 20px;
    padding: 6px;
    color: #333;
    background-color:#EAEAEA;
    margin-bottom: 15px;
}

.profile-table {
    width: 100%;
    margin-left: 5px;
    border-collapse: collapse;
}

.profile-label {
    text-align: left;
    font-weight: normal;
    color: #555;
}

.profile-value {
    padding: 10px;
    /* border-bottom: 1px solid #ccc; */
    color: #333;
}
